#theSite{
    display: none;
}
::selection{
    background-color: orange;
}
body{
    background-color: rgb(221, 143, 8);
    /* background-image: url(../pizza3.jpg); */
     background-image: url(../pizza1.jpg);
    background-size:120% 200vh;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    height:100vh;
}
#h1{
    font-size: 70px;
    text-align: center;
    color: white;
    text-shadow: 5px 5px 5px black;
    background-color: rgba(0, 0, 0, 0.615);
    /* box-shadow:  white 15px 15px 10px; */
    margin-top: -10px;
    margin-bottom: 80px;
    padding: 19px;
}
#btns{
    overflow: hidden;
    /* background-color: #333; */
    margin-top: -45px;
    position: sticky;
    top: 0;
}
.btn{
    background-color:white;
    height: 50px;
    width: 90px;
    border-radius: 80px;
}
.btn:hover{
    background-color: rgb(180, 181, 182);
}
.btn:active{
    border-bottom: 8px solid black;
}
table{
    position: absolute;
    right: 4%;
    width: 50%;
    font-size: 40px;
}
tr{
    border: 3px black solid;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: right;
}
th{
    /* background-color: rgba(255, 255, 255, 0.7); */
    border: 3px black solid;
    text-align: right;
    font-size: 35px;
}
td{
    font-size: 25px;
    border: 3px black solid;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}
#getId{
    font-size: 35px;
    text-align:right;
    background-color: white;
    width: 40%;
    border-radius: 20px;
    border: 3px black solid;
    /* margin-bottom: -45px; */
    user-select: none; 
    /* border-bottom: none; */
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
}
#finish{
    border: 3px rgb(255, 255, 255) solid;
    /* border-top: 0; */
    /* width: 40%; */
    width: 100%;
    background-color: black;
    /* padding: 50px; */
    /* border-radius: 50%; */
    border-bottom-left-radius: 15px;
    color: white;
    font-size: 30px;
    border-bottom-right-radius: 15px;

}
h4{   
     text-align: center;
    text-decoration: underline;
}
.coteret{
    font-size: 25px;

}
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 20px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    /* background-color: #de7211; */
    background-color: black;

    color: white;
  }
  
  /* Style the container for inputs */
  #container {
    width: 50%;
    background-color: #f1f1f1;
    padding: 20px;
    position: absolute;
    left: 25%;
    top: 40%;
    text-align: right;

  }




  .inp{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
 .inp:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  .Obutton {
    background-color: orange;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    float: left;
    width: 50%;
  }
  
  .Obutton:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  #cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  /* .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  } */
  
  /* Add padding to container elements */
  .container {
    padding: 16px;
    text-align: right;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #5d5b47e8;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  #hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
   
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }